parameters:
	level: 1
	paths:
		- src
	ignoreErrors:
		-
			identifier: doctrine.columnType
		-
			identifier: doctrine.associationType
		-
			identifier: staticMethod.notFound
			path: src/Routing/Annotation/Route.php

